.slider{
  background: url("../images/home.png") no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding:200px 0;
  position: relative;
  max-width: 100%;
  overflow-x:hidden;
  @include tablet {
    padding:150px 0;
  }
  @extend .overly;
  .block{
    h1{
      font-size: 70px;
      line-height: 80px;
      font-weight: 600;
      color: $light;
      max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
      
    }
    p{
      margin-bottom:30px;
      color:#b9b9b9;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
      max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
    }

    span{
      letter-spacing: 1px;
    }
  }
  
}
